# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native Specific (Global)
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# local env files
.env*.local
credentials.json
# typescript
*.tsbuildinfo

# ----------------------------------------------------------------      
# ANDROID MANUAL WORKFLOW (Bare/Manual)
# ----------------------------------------------------------------
# Ignoramos solo los temporales, builds y rutas locales.
# Git rastreará automáticamente tus archivos .kt, .java y .xml
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/GeneratedPluginRegistrant.java
android/.idea/
android/*.iml
android/.kotlin/

# Secrets (Seguridad: No subir llaves de firmado personal)
android/*.keystore
android/key.properties

# ----------------------------------------------------------------
# GENERATED NATIVE FOLDERS (Managed)
# ----------------------------------------------------------------
/ios
